<h2>Heroku</h2>
<div ng-repeat="account in config.accounts">
  <h3>[[ account.email ]]</h3>
  <div class="row-fluid">
    <div class="span6">
      <h4>Private Key</h4>
      <textarea disabled ng-model="account.privkey"></textarea>
    </div>
    <div class="span6">
      <h4>Public Key</h4>
      <textarea disabled ng-model="account.pubkey"></textarea>
    </div>
  </div>
  <!-- we won't let them do this atm -->
  <!--button ng-click="remove(account)" class="btn btn-danger">Remove</button-->
</div>
<a href="/ext/heroku/oauth" class="btn btn-success">Add a Heroku Account</a>
